**/__pycache__
**/.ipynb_checkpoints
*.egg
*.eggs
*.egg-info
build
ctapipe-merge.provenance.log
*.log
sst1mpipe/source_simulation/dl2_gamma/
sst1mpipe/source_simulation/fits_files/
sst1mpipe/source_simulation/LST1_csv/
sst1mpipe/source_simulation/SST1M_csv/
LST1_observation_simulator.ipynb