**/__pycache__
**/.ipynb_checkpoints
*.egg
*.eggs
*.egg-info
build
ctapipe-merge.provenance.log
*.log
# Ignore specific folders
sst1mpipe/source_simulation/dl2_gamma/
sst1mpipe/source_simulation/fits_files/
sst1mpipe/source_simulation/lst_data/
# Ignore specific notebook
LST1_observation_simulator.ipynb